body{
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}
h1{
    color: hsl(234, 29%, 20%);
    text-align: center;
    padding-right: 30px;
}
p{
    font-size: 16px;
}
form{
    padding: 25px;
}
label{
    font-size: 13px;
    font-weight: bold;
}
input{
    border: 1px solid hsl(0, 0%,58%);
    border-radius: 5px;
    width: 90%;
    height: 45px;
    margin-top: 10px;
}
input::placeholder{
    padding-left: 20px;
}
button{
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 92%;
    margin-top: 20px;
    height: 45px;
}
button:hover{
    background-color: hsl(4, 100%, 67%);
    cursor: pointer;
}
ul li{
    background-image: url('assets/images/icon-list.svg');
    background-repeat: no-repeat;
    min-height: 30px;
    padding-left: 38px;
    padding-bottom: 8px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#card{
    background-color: white;
    max-width: 850px;
    border-radius: 30px;
    display: block;
}
#success{
    background-color: white;
    max-width: 350px;
    border-radius: 30px;
    padding: 20px;
}
#success h1{
    text-align: left;
}
#error{
    color: hsl(4, 100%, 67%);
}
#enterAndSubmit{
    padding-top: 2px;
}
@media screen and (max-width: 499px) {
    h1{
        font-size: 40px;
    }
    #mobileImg{
        display: block;
        padding: 0;
    }
    #desktopImg{
        display: none;
    }
    #card{
        max-width: 375px;
    }
    #success button{
        margin-top: 200px;
    }
    #success{
        padding-top: 150px;
    }
}
@media screen and (min-width: 500px) { 
    h1{
        font-size: 55px;
    }
    #mobileImg{
        display: none;
    }
    #desktopImg{
        display: block;
    }
    #card{
        display: flex;
        padding: 20px;
    }
    #success{
        padding: 60px;
    }
}